.settings_container{
    display: flex;
    width: 60%;
    height: 100%;
    margin-top: 60px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 9px 9px 0 0 #aaa;
    border: 1px solid #000;
}