div{
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    .image{
        width: 890px;
        max-height: 600px;
    }
    form{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        width: 180px;
        border-radius: 5px;
        padding: 50px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        input, textarea{
            resize: none;
            outline: none;
            margin-left: -20;
            background-color: transparent;
            padding: 6px;
            width: 180px;
            border: 1px solid #000;
            border-radius: 5px;
            margin-bottom: 30px;
            box-shadow: 3px 3px 0 0 #000;
            transition: .4s;
            &::placeholder{
                color: 000;
                opacity: 1;
                }
            &:focus{
                box-shadow: 3px 3px 0 0 #ffb6c1;
            }
        }
        
    
        button{
            width: 100%;
            padding: 7px;
            border: 1px solid #000;
            border-radius: 5px;
            background-color: transparent;
            transition: .4s;
            margin-bottom: 20px;
            &:hover{
                padding: 7px;
                border: 1px solid #000;
                background-color: lightpink;
            }
        }
        h{
            font-size: 14px;
            a{
                text-decoration: none;
                color: #ffb6c1;
            }
        }
    }
}